:root {
    line-height: 1.5;
    --main-bg-color: #F9FAFB;
    --sidebar-bg-color: #F3F4F6;
    --text-color:  #111827;
    --primary-color: #166534;
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #fff;
    z-index: 999;
  }

  .category {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.4rem;
  }

  header button {
    border: 0;
    background-color: var(--primary-color);
    color: #F3F4F6;
    font-weight: 600;
    font-size: 1.2rem;
    padding: .35em .5em;
    border-radius: 8px;
    transition: all 0.25s ease;
  }

  header button:hover {
    filter: brightness(95%);
    transform: translateY(-1px);  
  }

  section .sidebar {
    background-color: var(--sidebar-bg-color);
  }